@model RedBoxCar.Web.Models.ViewModels.UserViewModel;
@{
    ViewData["Title"] = "Account";
}
<section class="tf__dashboard mt_100 xs_mt_70 mb_100 xs_mb_70">
    <div class="container">
        <div class="tf__dashboard_area">
            <div class="row">
                <div class="col-xl-3 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__dashboard_menu">
                        <div class="dasboard_header">
                            <h2>@Model.FullName</h2>
                        </div>
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Users">
                                    <span><i class="fas fa-user"></i></span>
                                    Parsonal Info
                                </a>
                            </li>
                            <li>
                                 <a asp-area="" asp-controller="OrdersStatus" asp-action="OrderStatus">
                                    <span><i class="fas fa-bags-shopping"></i></span>
                               Order
                                </a>
                            </li>
                            <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" onclick="() => localStorage.clear()"><span> <i class="fas fa-sign-out-alt"></i></span> Logout</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__dashboard_content">
                        <div class="tf_dashboard_body">
                            <h3>
                                Parsonal Information
                                <a class="dash_add_new_address" asp-controller="Account" asp-action="EditUser">edit</a>
                            </h3>

                            <div class="tf_dash_personal_info">
                                <div class="personal_info_text">
                                    <p><span>Name:</span>@Model.FullName </p>
                                    <p><span>Email:</span>@Model.Email </p>
                                    <p><span>Phone:</span>@Model.PhoneNumber </p>
                                    <p>
                                        <span>Address:</span> @Model.Address
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>